<ion-content class="ion-padding">
  <div class="flex justify-between items-center">
    <ion-title>Actualizar aseguradora</ion-title>
    <ion-button (click)="closeModal()">Cancelar</ion-button>
  </div>

  <form [formGroup]="updateForm" (ngSubmit)="onSubmit()" novalidate>
    <ion-item>
      <ion-input
        label="Nombre"
        labelPlacement="stacked"
        type="text"
        placeholder="Ingresa el nombre de la aseguradora"
        formControlName="name"
        id="name"
        (ngModelChange)="checkFormChanges()"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        label="Descripción (opcional)"
        labelPlacement="stacked"
        type="text"
        placeholder="Descripción de la aseguradora"
        formControlName="description"
        id="description"
        (ngModelChange)="checkFormChanges()"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        label="Imagen (opcional)"
        labelPlacement="stacked"
        type="text"
        placeholder="https://dominio/imagen.jpg"
        formControlName="image"
        id="image"
        (ngModelChange)="checkFormChanges()"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-toggle
        formControlName="status"
        id="status"
        (ionChange)="checkFormChanges()"
        >Estatus</ion-toggle
      >
    </ion-item>

    <ion-button
      type="submit"
      class="font-bold"
      color="primary"
      expand="full"
      [disabled]="!isFormDirty"
      >Actualizar</ion-button
    >
  </form>
</ion-content>
