<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      Inicio
    </ion-tab-button>
    <ion-tab-button tab="saved">
      <ion-icon name="business-outline"></ion-icon>
      Guardados
    </ion-tab-button>
    <ion-tab-button tab="policy">
      <ion-icon name="list-circle-outline"></ion-icon>
      Mi Póliza
    </ion-tab-button>
    <ion-tab-button tab="help">
      <ion-icon name="chatbox-ellipses-outline"></ion-icon>
      Ayuda
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
